<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <div class="banner">
        <h1>Sign Up</h1>
    </div>
    
    <div class="container">
        
        <form action="/signup" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Sign Up">
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </form>
        <p>Already have an account? <a href="/signin">Sign In</a></p>
    </div>
</body>
</html>