<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About LogGuard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="banner">
        <h1>LOGGuard: An Intelligent Machine Learning Incident Detection System</h1>
        <h2>Smart Incident Sentinel</h2>
    </div>

    <div class="navbar">
        <button onclick="location.href='/homepage.html';">Homepage</button>
    </div>

    <div class="container">
        <h2>Project Description</h2>
        <p>My Final Year Project, LogGuard is a state-of-the-art machine learning programme that will transform incident detection through seamless log scanning. The sheer amount of data generated in today's complicated digital ecosystem makes finding and resolving incidents a difficult task. My creative solution offers a proactive and quick method of incident identification by utilising machine learning algorithms to analyse logs effectively. My programme improves cybersecurity measures and gives organisations the ability to keep ahead of potential threats by utilising advanced pattern recognition and anomaly detection.</p>
    </div>
</body>
</html>