<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogGuard: An Intelligent Machine Learning Incident Detection System</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    <div class="banner">
        <h1>LogGuard: An Intelligent Machine Learning Incident Detection System</h1>
    </div>

    <div class="navbar">
         
        <button onclick="location.href='/signin';">Log Out</button>
        <button onclick="location.href='/predict.html';">Predict</button>
        <button onclick="window.location.href='https://github.com/Williamvasilev/LogGuard';">Github</button>
        <button onclick="location.href='/about.html';">About</button>
    </div>

    <h1>LogGuard</h1>
    <img src="/static/logGuard1.jpeg" alt="LogGuard Logo" width="200" height="200">
</body>
</html>
